$underline-color: #cccccc;

.options {
    &__categories {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0;
    }

    &__category {
        margin-right: 1.5rem;
        padding: 0.5rem 0;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: border-bottom-color .2s ease-in;

        &--current {
            border-bottom: 1px solid $underline-color;
        }
    }

    &__price {
        font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
        border: none;
        border-bottom: 1px solid $underline-color;
        outline: none;

        &--from {
            margin-right: 2rem;
        }
    }
    

    &__select {
        border: none;
        outline: none;
        border-bottom: 1px solid $underline-color;
        height: 2rem;
    }

    &--margins {
        margin: 1.25rem 0;
    }
}

@media (max-width: 450px) {
    .options__select {
        width: 100%;
    }
}