.options {
    &__categories {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem 0;
    }

    &__category {
        margin-right: 1.5rem;
        padding: 0.5rem 0;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: border-bottom-color .2s ease-in;

        &--current {
            border-bottom: 1px solid #9E9E9E;;
        }
    }

    &__price--input {
        margin-right: 2rem;
    }

    &__select {
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
        height: 2rem;
    }

    &--margins {
        margin: 1.25rem 0;
    }
}

@media (max-width: 450px) {
    .options__select {
        width: 100%;
    }
}